@import 'styles/mixins';

.dropdown {
  position: relative;

  &__list {
    z-index: $z-index-dropdown-list;
    position: absolute;
    top: calc(100% + $space-xxs);
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $color-dropdown-bg;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__input {
    &:checked + .dropdown__label {
      color: $color-dropdown-text-active;
    }

    &:focus-visible + .dropdown__label {
      outline: 1px solid $color-dropdown-text-focus;
    }
  }

  &__label {
    padding: $space-s $space-xs;
    font-family: $ff-roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: $color-dropdown-text;
    transition: color $transition-default;
    cursor: pointer;

    @include hover {
      color: $color-dropdown-text-hover;
    }
  }
}
