@import 'styles/mixins';

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:first-child {
      margin-right: 18px;

      @include vp-767 {
        margin-right: 6px;
      }
    }

    &:last-child {
      margin-left: 18px;

      @include vp-767 {
        margin-left: 6px;
      }
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 38px;
    height: 42px;
    padding: 5px 3px;
    color: var(--color-pagination-text);
    background-color: var(--color-pagination-bg);
    border: var(--border-none);
    transition: color var(--transition-default), background-color var(--transition-default);
    user-select: none;
    cursor: pointer;

    @include hover {
      &:not(.is-current) {
        color: var(--color-pagination-text-hover);
      }
    }

    @include active {
      &:not(.is-current) {
        background-color: var(--color-pagination-bg-active);
      }
    }

    &:disabled,
    &--disabled {
      color: var(--color-pagination-text-disabled);
      pointer-events: none;
      cursor: default;
    }
  }

  &__button-text {
    display: flex;
    align-items: center;
  }

  .is-current {
    color: var(--color-pagination-text-current);
    background-color: var(--color-pagination-bg-current);
  }
}
