.text {
  font-family: var(--ff-roboto);
  font-style: normal;
  color: inherit;

  &--max-lines {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  &--button {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  &--title {
    font-size: 44px;
    line-height: 1.09;
    font-weight: 700;
    color: var(--color-text-primary);
  }

  &--p-20 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  &--p-18 {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  &--p-16 {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  &--p-14 {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  &--normal {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--primary {
    color: var(--color-text-primary);
  }

  &--secondary {
    color: var(--color-text-secondary);
  }

  &--accent {
    color: var(--color-text-accent);
  }
}
