@import 'styles/mixins';

.text {
  font-family: $ff-roboto;
  font-style: normal;
  color: inherit;

  &--max-lines {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  &--button {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;

    @include vp-1023 {
      font-size: 16px;
    }
  }

  &--title {
    font-size: 44px;
    line-height: 1.09;
    font-weight: 700;

    @include vp-1023 {
      font-size: 32px;
    }
  }

  &--p-32 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;

    @include vp-1023 {
      font-size: 24px;
    }
  }

  &--p-24 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;

    @include vp-1023 {
      font-size: 20px;
    }
  }

  &--p-20 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;

    @include vp-1023 {
      font-size: 18px;
    }
  }

  &--p-18 {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;

    @include vp-1023 {
      font-size: 16px;
    }
  }

  &--p-16 {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;

    @include vp-1023 {
      font-size: 14px;
    }
  }

  &--p-14 {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;

    @include vp-1023 {
      font-size: 12px;
    }
  }

  &--normal {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--primary {
    color: $color-text-primary;
  }

  &--secondary {
    color: $color-text-secondary;
  }

  &--accent {
    color: $color-text-accent;
  }

  &--error {
    color: $color-text-error;
  }
}
