@import 'styles/mixins';

.search {
  display: flex;
  align-items: center;
  gap: var(--space-xl);

  @include vp-767 {
    flex-direction: column;
    align-items: initial;
    gap: var(--space-m);
  }

  &__input {
    flex: 1 1 auto;
  }

  &__button {
    flex-basis: 138px;

    @include vp-767 {
      flex-basis: auto;
    }
  }
}
