:root {
  // Colors
  // ---------------------------------

  // Default

  --color-black:                      #000000;
  --color-white:                      #ffffff;
  --color-transparent:                rgba(255, 255, 255, 0);

  --color-maire:                      #151411;
  --color-white-smoke:                #f3f3f3;
  --color-gainsboro:                  #d9d9d9;
  --color-spun-pearl:                 #afadb5;
  --color-ziggurat:                   #86aaa7;
  --color-breaker-bay:                #518581;
  --color-dark-green-copper:          #487773;

  // Project palette

  --color-header-bg:                  var(--color-white);
  --color-header-border:              var(--color-white-smoke);
  --color-text-primary:               var(--color-black);
  --color-text-secondary:             var(--color-spun-pearl);
  --color-text-accent:                var(--color-breaker-bay);
  --color-icon-default:               var(--color-maire);
  --color-icon-primary:               var(--color-black);
  --color-icon-secondary:             var(--color-spun-pearl);
  --color-icon-accent:                var(--color-breaker-bay);
  --color-loader-bg:                  var(--color-breaker-bay);
  --color-loader-bg-secondary:        var(--color-white);
  --color-button-primary-text:        var(--color-white);
  --color-button-primary-bg:          var(--color-breaker-bay);
  --color-button-primary-bg-hover:    var(--color-ziggurat);
  --color-button-primary-bg-active:   var(--color-dark-green-copper);
  --color-button-primary-bg-disabled: var(--color-gainsboro);
  --color-input-text:                 var(--color-black);
  --color-input-text-disabled:        rgba(0, 0, 0, 0.2);
  --color-input-placeholder:          var(--color-spun-pearl);
  --color-input-bg:                   var(--color-white);
  --color-input-border:               var(--color-white);
  --color-input-border-focus:         var(--color-breaker-bay);
  --color-dropdown-bg:                var(--color-white);
  --color-dropdown-text:              var(--color-black);
  --color-dropdown-text-hover:        var(--color-spun-pearl);
  --color-dropdown-text-focus:        var(--color-breaker-bay);
  --color-dropdown-text-active:       var(--color-breaker-bay);
  --color-card-bg:                    var(--color-white);
  --color-card-image-bg:              var(--color-gainsboro);

  // Animation
  // ---------------------------------

  --transition-default:               0.3s ease;

  // Typography
  // ---------------------------------

  --ff-roboto:                        'Roboto', Arial, sans-serif;

  // Offset
  // ---------------------------------

  --space-xl:                         24px;
  --space-l:                          20px;
  --space-m:                          16px;
  --space-s:                          14px;
  --space-xs:                         12px;
  --space-xxs:                        8px;

  // Border
  // ---------------------------------

  --border-none:                      0;
  --border-radius-cycle:              50%;
}
