@import 'styles/mixins';

.logo {
  display: flex;
  width: 132px;
  height: 42px;
  color: var(--color-icon-primary);
  transition: color var(--transition-default);


  @include hover-focus {
    color: var(--color-icon-accent);
  }

  &__icon {
    flex-shrink: 0;
  }
}
