@import 'styles/mixins';

.logo {
  display: flex;
  width: 132px;
  height: 42px;
  color: var(--color-icon-default);
  transition: color var(--transition-default);

  @include vp-767 {
    width: 96px;
    height: 30px;
  }

  @include hover-focus {
    color: var(--color-icon-accent);
  }

  &__icon {
    flex: 0 0 auto;
    width: 132px;
    height: 42px;

    @include vp-767 {
      width: 96px;
      height: 30px;
    }
  }
}
