@import 'styles/mixins';

.login-page {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-xxl;
    width: clamp(280px, 360px, 360px);
    margin: 10% 0;
    padding: $space-m;
    background-color: $color-login-form-bg;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__header {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-bottom: $space-xxs;
    list-style: none;
    border-bottom: 1px solid $color-login-form-border;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: $space-xxxs $space-xs;
    transition: color $transition-default;
    cursor: pointer;

    @include hover {
      color: $color-text-accent;
    }

    @include active {
      color: $color-text-secondary;
    }

    &--active {
      color: $color-text-accent;
    }
  }
}
