.product-list {
  &__header {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
  }

  &__title {
    margin: 0;
  }

  &__count {
    margin: 0;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
    column-gap: 80px;
    row-gap: 30px;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    list-style: none;
  }
}
