@import 'styles/mixins';

.user-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-xs;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-767 {
      gap: $space-xxxs;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &--burger {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  &__link {
    display: flex;
    width: 42px;
    height: 42px;
    padding: $space-xxxs;
    color: $color-icon-default;
    transition: color $transition-default;

    @include vp-767 {
      width: 36px;
      height: 36px;
    }

    @include hover {
      color: $color-icon-accent;
    }
  }

  &__burger {
    border: 0;
    background-color: $color-button-sec-bg;
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;

    @include vp-767 {
      width: 24px;
      height: 24px;
    }
  }
}
