@import 'styles/mixins';

.category-item {
  position: relative;
  background-color: $color-card-bg;
  transition: box-shadow $transition-default;
  cursor: pointer;

  @include hover-focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__image {
    position: relative;
    background-color: $color-card-image-bg;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding-bottom: calc(360 / 360 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: $space-m;
  }
}
