@import 'styles/mixins';

.login-form {
  display: flex;
  flex-direction: column;
  gap: $space-l;

  &__controls {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    margin-top: $space-l;
  }
}
