@import 'styles/mixins';

.nav {
  @include vp-767 {
    padding: var(--space-m) 0;
    background-color: var(--color-header-bg);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-xxxl);
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-767 {
      flex-direction: column;
      gap: var(--space-xs);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__link {
    position: relative;
    display: flex;
    padding: var(--space-xxxs) 0;
    color: var(--color-text-primary);
    transition: color var(--transition-default);

    @include hover {
      color: var(--color-text-accent);
    }

    &--active {
      color: var(--color-text-accent);

      &:after {
        position: absolute;
        top: calc(100% + 28px);
        right: 0;
        left: 0;
        content: "";
        height: 3px;
        background-color: var(--color-text-accent);

        @include vp-767 {
          content: initial;
        }
      }
    }
  }
}
