@import 'styles/mixins';

.catalog {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    gap: $space-xxl;

    @include vp-767 {
      gap: $space-m;
    }
  }

  &__cards {
    margin-top: $space-xxl;

    @include vp-767 {
      margin-top: $space-xl;
    }
  }

  &__pagination {
    margin-top: $space-xxxl;

    @include vp-767 {
      margin-top: $space-xl;
    }
  }
}
